.footer {
  background-color: #ffffff; /* black background */
  color: #000000; /* white text */
  text-align: center;
  padding: 1rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 1rem;
  border-top: 1px solid #38b6ff; /* skyblue accent */
} 